<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.leefeng.imageselector">

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:largeHeap="true">

        <activity
            android:theme="@style/AppTheme"
            android:name=".ImageLoaderActivity"
            />
        <activity android:name=".imagelook.ImageLookActivity" />
    </application>

</manifest>
